.container{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card{
    width: 350px;
    background-color: #F5F5F7;
    padding: 10px;
    text-align: center;
}

.card_name{

}

.card img{
    width: 100%;
}

.card button{
    padding: 7px 10px;
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    border: none;
}