body{
    background-image: url("./img/alfons-morales-YLSwjSy7stw-unsplash.jpg");
    display: flex;
    justify-content: center;
}

.product_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 550px;
    background-color: wheat;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.books_photo img {
    width: 400px;
}

.description{
    width: 700px;
    margin-bottom: 20px;
    text-align: center;
    color: darkred;
    font-family: 'Acme', sans-serif;
}

.description h1{
    font-size: 24px;
}

.description h2{
    font-size: 16px;
}

.description span{
    font-size: 20px;
}

.btn{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    background-color: darkred;
    border: none;
    border-radius: 10px;
    color: wheat;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

