.container{
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.btn{
    padding: 15px;
    background-color: darkred;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover{
    background-color: #38454c;
    box-shadow: 6px 9px 59px 23px rgba(34, 60, 80, 0.2);
}

.notification{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 16px;
    width: 500px;
    border-radius: 5px;
}


.success{
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.info{
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}

.error{
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
