.container{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.container div{
    height: 250px;
    width: 350px;
    background-color: darkslategray;
    border: 1px solid darkslategray;
}
.container p{
    font-size: 24px;
    text-align: center;
    color:white;
}

.background-red{
    background-color: #8b0000;
}